.TodoTemplate {
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    border-radius: 4px;
    overflow: hidden;

    .app-title {
        background: lightgray;
        color: darkmagenta;
        height: 4rem;
        font-size: 2rem;
        font-weight: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        background: beige;
    }
}